html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

body {
  width: 100%;
  max-width: var(--max-width);
}

a {
  text-decoration: none;

  &.active {
    pointer-events: none;
  }
}
