/* Imports */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,700i|Roboto+Condensed:400,400i,700i');

:root {
  /* Colors */
  --black:                 #222;
  --white:                 #fff;
  --red:                   #f51441;
  --orange:                #f60;
  --green:                 #0b0;

  /* Brand Colors */
  --whiteish:              #f7f7f7;
  --greyish:               #b2b2b2;
  --magenta:               #ff26ef;

  /* Color Assignments */
  --accent-color:          var(--magenta);
  --alert:                 var(--red);
  --warn:                  var(--orange);
  --success:               var(--green);

  /* Fonts */
  --base-font-family:      'Raleway', sans-serif;
  --base-font-size:        18px;
  --base-font-color:       var(--black);
  --font-weight-normal:    400;
  --font-weight-light:     200;
  --font-weight-bold:      700;

  /* Misc */
  --body-bgcolor:          var(--whiteish);
  --header-bgcolor:        var(--black);
  --max-width:             1600px;
  --gutter-width:          3rem;
  --base-border-width:     8px;
  --base-border-radius:    4px;
  --transition-time:       .2s;

  /* Links */
  --link-color:            var(--whiteish);
  --link-color-hover:      var(--white);
  --link-color-active:     var(--accent-color);
}
