.DS_Store
.tmp
ehthumbs.db
Thumbs.db
.Trashes

.idea
.vscode
.sublime-project
.sublime-workspace
.sass-cache

.vagrant
.env
dist
node_modules
npm-debug.log*
*.suo
.ntvs_analysis.dat
bin
obj
.vs
config*.json

TizenProject/icon.png
TizenProject/index.html
TizenProject/assets
