// -----------------------------------------------------------------------------
// This file contains element styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;

  &.active {
    pointer-events: none;
  }
}
