// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i|Roboto+Condensed:400,400i,700i');

// Colors
$black:                 #222;
$white:                 #fff;
$red:                   #f51441;
$orange:                #f60;
$green:                 #0b0;

// Brand Colors
$white-two:             #f7f7f7;
$greyish:               #b2b2b2;
$magenta:               #ff26ef;

// Color Assignments
$accent-color:          $magenta;
$alert:                 $red;
$warn:                  $orange;
$success:               $green;

// Fonts
$base-font-family:      Roboto, sans-serif !default;
$base-font-size:        18px !default;
$base-font-color:       $black !default;
$condensed-font-family: 'Roboto Condensed', sans-serif !default;
$font-weight-normal:    400 !default;
$font-weight-light:     200 !default;
$font-weight-bold:      700 !default;

// Misc
$splash-img:            '/assets/img/logo.svg';
$body-bgcolor:          $white-two !default;
$header-bgcolor:        $black !default;
$max-width:             1600px !default;
$gutter-width:          3rem !default;
$item-gutter-width:     4.8rem !default;
$base-border-width:     8px !default;
$base-border-radius:    4px !default;
$transition-time:       .2s !default;

// Links
$link-color:            $white-two !default;
$link-color-hover:      $white !default;
$link-color-active:     $accent-color !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} breakpoint
$breakpoints: (
  'small':   (min-width: 320px),
  'medium':  (min-width: 544px),
  'large':   (min-width: 768px),
  'x-large': (min-width: 1024px)
) !default;
